Repository ironcore-dev/netdata, pull requests merged in 2024-04, with the labels that each got.

#233 Push docker images on PR also
  .github/workflows/publish-docker.yml
Labels: enhancement, size/XS

#231 IP caching via informers
  controllers/netdata_controller.go
Labels: controller, size/L

#238 fix nil pointer exception while IP comparison
  controllers/netdata_controller.go
Labels: bug, controller, size/S

#239 Skip IP creation if is part of reserved block
  controllers/netdata_controller.go
Labels: bug, controller, size/S
